@charset "UTF-8";
.remove{
	
	text-decoration: none;
	margin:10px;
	float:right;
}
table, th, td{
	margin-top: 60px;
	border-collapse: collapse;
	border: 1px solid black;
}

th, td{
	padding: 5px; 
}
#header{
	position:fixed;
    top:0px;
    width:100%;
    float:top;
	background-color: turquoise;
	height:50px;
}

input[type=text],input[type=password] {
	padding: 5px;
}
button{
	 background-color:turquoise;
	color: teal;
	padding:7px 7px;
	border-radius:3px;
	display: block;
    margin: 0 auto;
	
}